* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #cc5e5e;
    background-image: linear-gradient(to top left, #db3434, #6159b6);
    text-align: center;
    color: whitesmoke;
    letter-spacing: .1em;
  }

  header {
    padding: 20px;
  }
  @media only screen and (min-width: 768px) {
    header {
      font-size: 24px;
    }
  }
  
  section {
  }
  
  #clock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .4);
    margin: auto;
    padding: 20px;
  }
  @media only screen and (min-width: 768px) {
    #clock {
      flex-direction: row;
      padding: 40px;
    }
  }